<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="MainCorreo.Properties.Settings.correo_sp_2017ConnectionString"
            connectionString="Data Source=DESKTOP-LP8GONR;Initial Catalog=correo-sp-2017;Integrated Security=True"
            providerName="" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
</configuration>